.app-container{
  width: 360px;
  height: fit-content;
  padding: 48px 24px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  background: #edeef7;
  border-radius: 18px;
  border: 1px solid #7868e6;
  
}
h1{
  color: blue;
}

p{
  color: blue;
}